# =========================
# Maven
# =========================
target/

# =========================
# Java
# =========================
*.class

# =========================
# IDE
# =========================
.vscode/
.idea/
*.iml

# Eclipse
.classpath
.project
.settings/

# =========================
# OS
# =========================
.DS_Store
Thumbs.db

# =========================
# Logs / temporary files
# =========================
*.log
*.tmp

# =========================
# Environment / secrets
# =========================
.env
src/main/resources/db.properties